/* Home Background */
.home-background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(176deg, #22313f 70%, #e7e7e7 calc(70% + 2px));
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* Landing Home */
.home-landing-container {
  display: flex;
  justify-content: space-between;
  margin-top: 9rem;
}

/* Landing Home (Button) */
.home-btn-container {
  margin-top: 2rem;
}

.home-btn {
  margin-right: 2rem;
}

/* Landing Home (Left) */
.home-landing-left {
  width: 50%;
  color: white;
  margin-top: 6rem;
}

.home-main-text {
  color: white;
  font-size: 2.4rem;
  letter-spacing: 1px;
}

.home-sub-text {
  width: 90%;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: lightgrey;
}

.home-img {
  width: 27rem;
}

@media (max-width: 1070px) {
  /* Landing Home */
  .home-landing-container {
    display: block;
    text-align: center;
  }

  /* Landing Home (Left) */
  .home-landing-left {
    width: 100%;
    color: white;
    margin-top: 6rem;
  }

  .home-sub-text {
    width: 40%;
    margin: 0 auto;
  }

  /* Landing Home (Button) */
  .home-btn-container {
    margin-bottom: 5rem;
  }
}

@media (max-height: 672px) {
  .home-background {
    background-image: none;
    background-color: #22313f;
  }
}
