/* Home Background */
.home-background {
  background-image: linear-gradient(176deg, #22313f 70%, #e7e7e7 calc(70% + 2px));
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* Landing Home */
.home-landing-container {
  display: flex;
  justify-content: space-between;
  margin-top: 9rem;
}

/* Landing Home (Button) */
.home-btn-container {
  margin-top: 2rem;
  text-align: center;
}

.home-btn {
}

/* Landing Home (Left) */
.home-landing-left {
  text-align: center;
  color: white;
  margin-top: 6rem;
  margin-right: 5rem;
}

.home-main-text {
  color: white;
  font-size: 2.4rem;
  letter-spacing: 1px;
  text-align: center;
}

.home-sub-text {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: lightgrey;
}

.home-img {
  width: 27rem;
}

@media (max-width: 1070px) {
  /* Landing Home */
  .home-landing-container {
    display: block;
    text-align: center;
  }

  /* Landing Home (Left) */
  .home-landing-left {
    width: 100%;
    color: white;
    margin-top: 6rem;
  }

  .home-sub-text {
    width: 40%;
    margin: 0 auto;
  }

  /* Landing Home (Button) */
  .home-btn-container {
    margin-bottom: 5rem;
  }
}

@media (max-height: 672px) {
  .home-background {
    background-image: none;
    background-color: #22313f;
  }
}

/*---------------*/

.mission-container {
  height: 100vh;
  background: #e7e7e7;
}

.mission-title-container {
  padding-top: 3rem;
  text-align: center;
}

.bismillah {
  color: #03a87c;
  text-align: right;
  width: 70%;
  margin: auto;
  font-size: 22px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mission-para {
  width: 70%;
  margin: auto;
  font-family: "Poppins";
  font-size: 20px;
  margin-bottom: 2rem;
}

.team-container {
  background-image: linear-gradient(176deg,  #e7e7e7 50%, #3c683a calc(50% + 2px));
  padding-bottom: 10rem;
}

.card-container {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;  
}
/* Title */
.team-title-container {
  text-align: center;
}

.team-title {
  color: rgb(97, 97, 97);
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  display: inline;
  border-bottom: solid 3px #03a87c;
}

/* Team Cards */
.team-card {
  width: 20%;
  background-color: #5c8853;
  margin-left: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.team-img {
  margin: auto;
  border-radius: 50%;
  border: solid 5px #03a87c;
  height: 9rem;
  display: block;
}

/* Team Decription */
.team-dec-container {
  margin: 1rem;
  color: rgb(235, 235, 235);
}

.team-role {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.team-name {
  margin: 0.2rem 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.team-links {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  overflow-wrap: break-word;
  color: #8ddbca;
  font-size: 40px;
}

.link-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


.team-dec {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  line-height: 1.4rem;
  margin-top: 1rem;
}

