.team-container {
  margin: 4rem 0;
  margin-bottom: 10rem;
}

/* Title */
.team-title-container {
  text-align: center;
}

.team-title {
  color: white;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  display: inline;
  border-bottom: solid 3px #03a87c;
}

/* Team Cards */
.team-card {
  background-color: #314252;
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.team-img {
  border-radius: 50%;
  border: solid 4px #03a87c;
  width: 9rem;
  height: 9rem;
  display: block;
  margin-right: 2rem;
}

/* Team Decription */
.team-dec-container {
  color: rgb(235, 235, 235);
}

.team-role {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.team-name {
  margin: 0.2rem 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.team-links {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: rgb(96, 151, 233);
}

.team-dec {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  line-height: 1.4rem;
  margin-top: 1rem;
}
